/* body h1 {display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
grid-column-start: 2;
grid-column-end: 4;} */
/* h1 {display:} */
h1 {text-align: center;}

strong {font-size: 48px;
visibility}
/* .ontop {display:grid;} */
canvas {
    height: 340px;
    width: 400px;
    background: yellowgreen;
}
body {background: blueviolet;}
ul {list-style: none;}

.keyword {
    display: flex;
    justify-content: space-around;
    width: 15vw;
    font-size:24px;
}
.text {
    font-size:24px;
}
.score {
    font-size:24px;
}